site_name: Process Manager
site_url: https://talbotknighton.github.io/process_manager/
site_author: Talbot Knighton and David Gable
copyright: Copyright &copy; 2026
repo_url: https://github.com/TalbotKnighton/process_manager
repo_name: process_manager
remote_branch: gh-pages
remote_name: origin

watch:
  - docs
  - src
  - scripts

nav:
  - Home: index.md
  - User Guides:
      # - Data Handling: user-guides/data_handling.md
      # - Results Manager: user-guides/results_manager.md
      - Random Values: user-guides/random_values.md
  # - Design:
  #   - Named Values: design/named_values.md
  #   - Random Variables: design/random_variables.md
  - Code Reference: reference/

theme:
  name: material

  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: pink
      accent: blue
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: pink
      accent: blue
      toggle:
        icon: material/weather-night
        name: Switch to light mode

  features:
    - navigation.tabs
    - navigation.instant
    - navigation.instant.preview
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.top
    - navigation.path
    - navigation.sections
    - navigation.tabs.sticky
    - navigation.footer
    - content.action.edit
    - content.action.view
    - content.code.copy
    - content.code.select
    - content.code.annotate
    - content.tooltips
    - search.highlight
    - search.suggest
    - search.share
    - content.tabs.link
    - content.footnote.tooltips

plugins:
  - search
  - open-in-new-tab:
      add_icon: true
  - gen-files:
      scripts:
        - scripts/gen_ref_pages.py
  - literate-nav:
      nav_file: SUMMARY.md
  - section-index
  - mkdocstrings:
      handlers:
        python:
          paths: [src]
          options:
            modernize_annotations: true
            backlinks: tree
            docstring_options:
              ignore_init_summary: true
            merge_init_into_class: true
            show_root_heading: true
            show_root_full_path: false
            show_source: true
            show_bases: true
            members_order: source
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            show_signature_annotations: true
            separate_signature: true
            summary: false # set to true to get summary tables
            inherited_members: true
            inheritance_diagram_direction: TD
            show_inheritance_diagram: true
            show_attribute_values: true
            signature_crossrefs: true
            extensions:
              - pydantic: { schema: true }
          inventories:
            - https://docs.python.org/3/objects.inv
            - https://mkdocstrings.github.io/griffe/objects.inv
            - https://docs.pydantic.dev/latest/objects.inv
            - https://numpy.org/doc/stable/objects.inv
  - glightbox

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - md_in_html
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - toc:
      permalink: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
      auto_title: true
  - pymdownx.inlinehilite
  - pymdownx.details
  - pymdownx.snippets
  - pymdownx.blocks.caption
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - tables
  - footnotes
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde

extra_javascript:
  - https://unpkg.com/mermaid@10.9.0/dist/mermaid.min.js
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - javascripts/tablesort.js
